.topo{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    
}
.menu{
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    
}
.row{
    flex-grow: 1;
    margin:0;
    display: block;
}
.ul-topo {
    margin:0;
    padding:0;
}
ul li,
ul a {
    font-size: large;
    list-style: none;
    padding:0px 10px;
    float: left;
    line-height: 70px;
    color:#561ae4;
}
ul a:hover{
    color: #6e38ec;
}
ul li:hover {
    background-color: #5a1d1d;
}

#menu-dropdown{
    height: 50px;
}
#dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    float: none;
    width: 200px;
    height: auto;
    background-color: #5a1d1d;
}
.fundo-img{
    min-height: 100vh;
}
.cadastro, .lista{
    background-color: #FFFAFAaa;    
    backdrop-filter: blur(2px);
}
.form{
    padding-bottom:20px;
    width: 100%;
}
.form-group{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:35px;
}
.form-group label{
    min-width: 75px;
    margin-left:10px;
}
.form-group input[type=radio]{
    margin:0px 10px;
}
.form-control{
    margin-left: 10px;
}

.group-consagracao{
    display:none;
}
.group-resultado{
    display:none;
}


.form-check {
    display: flex;
    justify-content: space-between;
}

.marcar_pagamento,
.desmarcar_pagamento{
    width: 190px;
}

footer{
    background-color: aqua;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:1024px){
    .form-group{
        flex-direction: column;
        align-items: flex-start;
    }
    .form-group label{
        margin-top: 15px;
    }
}